<app-container>
  <h1>Dashboard</h1>

  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>  <section class="section_charts">
    <div class="div_chart_item">
      <canvas
        baseChart
        [data]="data"
        [options]="options"
        [type]="'bar'"
      ></canvas>
    </div>
  </section>
</app-container>
